.mobile-app-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  flex-wrap: wrap;

  .image-container {
    display: flex;
    width: 30%;
    min-width: 300px;
    justify-content: center;
    margin: 20px 0;

    img {
      width: 80%;
    }
  }
}
