@import "src/Global/styles/Colors";
@import "../../../../../assets/font-awesome/scss/fontawesome.scss";
@import "../../../../../assets/font-awesome/scss/solid.scss";
@import "../../../../../assets/font-awesome/scss/brands.scss";

.input-container-image {
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  max-height: 250px;

  p {
    width: 100%;
    text-align: center;
    color: $primary-color;
  }

  .response-container {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
    width: 50%;
    min-width: 300px;

    input[type=radio] {
      position: absolute;
      visibility: hidden;
    }

    input[type=radio]:checked ~ .value {
      background-blend-mode: color-burn;
    }

    .value img {
      object-fit: contain;
    }

    label {
      display: block;
      position: relative;
      font-weight: 300;
      font-size: 1.35em;
      margin: 10px auto;
      height: 80px;
      z-index: 9;
      cursor: pointer;
    }

    p {
      text-align: center;
    }

    .check {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      z-index: 5;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: hue;
      background-position: 50% 50%;
    }

    .check::before {
      font-size: 1em;
      border-radius: 100%;
    }

    .ImageItem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
