/* stylelint-disable */
$primary-color: #005776;
$secondary-color: #ff5c63;
$whiter-background: #fff;
$cream-white-background: #f8f7f2;
$affirmative-color: #00e908;
$negative-color: #ff5c63;
$non-checked: #d6d4da;
$text-color: #303030;
