/* stylelint-disable */
$primary-color: #005776;
$secondary-color: #FF5C63;
$whiter-background: #fff;
$cream-white-background: #f8f7f2;
$affirmative-color: #00E908;
$negative-color: #FF5C63;
$non-checked: #D6D4DA;
