@import "../../../../../../Global/styles/Colors";

.aside-menu {
  max-width: 15vw;
  width: 15vw;
  min-width: 300px;
  background-color: $primary-color;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 50px 0;

  .header-aside-container {
    width: 100%;
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;

    .form-nona-logo-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2vh 0;

      .form-nona-logo {
        width: 16vw;
      }
    }

    .progress-bar-container {
      width: 50%;
      margin: 0 auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
    }

    .progress-bar-subtitle {
      text-align: center;
      color: white;
      font-size: 0.8em;
      margin: 2vh 0 0 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
    }
  }

  .last-section {
    color: white;
    overflow: hidden;
    margin: 10px 0 0 0;
    position: sticky;
    bottom: 0;

    .last-section-title {
      color: white;
      margin: 0 auto;
      width: 98%;
      font-size: 0.8em;
    }

    .last-section-content {
      color: white;
      font-size: 10px;
      margin: 5px auto 0;
      width: 85%;
      text-align: justify;
    }

    .social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin: 15px 0 0 0;
    }
  }
}
