@import "../../../../../../Global/styles/Colors";

.aside-menu {
  max-width: 15vw;
  width: 15vw;
  min-width: 300px;
  background-color: $primary-color;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 50px 0;

  .drop-down-menu {
    text-decoration: none;

    ul {
      padding-inline: 0;

      .main-options {
        padding: 10px 20px;
        font-size: 1.1em;
        background-color: #1f637b;
        color: white;
        cursor: pointer;
      }

      .sub-item {
        background: white;
        overflow: hidden;
        color: red;
        font-size: 14px;
        cursor: pointer;

        .element-list {
          transition: color, background-color 300ms linear;
          padding: 5px 0 5px 15px;

          &:hover {
            color: white;
            background: red;
          }
        }
      }

      .show {
        height: 50%;
        max-height: 500px;
      }

      .hide {
        height: 0;
        max-height: 0;
      }
    }
  }

  .header-aside-container {
    width: 100%;
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;

    .form-nona-logo-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2vh 0;

      .form-nona-logo {
        width: 16vw;
      }
    }

    .progress-bar-container {
      width: 50%;
      margin: 0 auto;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
    }

    .progress-bar-subtitle {
      text-align: center;
      color: white;
      font-size: 0.8em;
      margin: 2vh 0 0 0;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
    }
  }

  .last-section {
    color: white;
    overflow: hidden;
    margin: 10px 0 0 0;
    position: sticky;
    bottom: 0;

    .last-section-title {
      color: white;
      margin: 0 auto;
      width: 98%;
      font-size: 0.8em;
    }

    .last-section-content {
      color: white;
      font-size: 10px;
      margin: 5px auto 0;
      width: 85%;
      text-align: justify;
    }

    .social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin: 15px 0 0 0;
    }
  }
}
