@import "../../../../../../Global/styles/Colors";

.aside-menu {
  max-width: 15vw;
  width: 15vw;
  min-width: 300px;
  background-color: $primary-color;

  .form-nona-logo-container {
    display: flex;
    justify-content: center;

    .form-nona-logo {
      width: 250px;
    }
  }

  .progress-bar-container {
    width: 120px;
    margin: 0 auto;
  }

  .progress-bar-subtitle {
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 15px 0 0 0;
  }

  .last-section {
    color: white;
    overflow: hidden;
    margin: 15px 0 0 0;
    position: sticky;
    bottom: 0;

    .last-section-title {
      color: white;
      margin: 0 auto;
      width: 98%;
    }

    .last-section-content {
      color: white;
      font-size: 10px;
      margin: 5px auto 0;
      width: 85%;
      text-align: justify;
    }

    .social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin: 15px 0 0 0;
    }
  }
}
