@import "./../../Global/styles/Colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.button {
  margin: 20px;
  width: 12rem;
  height: 3rem;
}

.link {
  &-red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    border-radius: 33px;
    background:
      transparent linear-gradient(90deg, #db0011 0%, #ff1c26 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0 0 15px #ff707087;
    font-family: "Poppins", sans-serif;
    color: $whiter-background;
    border: none;
    outline: none;
  }

  &-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    border-radius: 33px;
    background: $primary-color 0% 0% no-repeat padding-box;
    box-shadow: 0 0 15px #00577687;
    font-family: "Poppins", sans-serif;
    color: $whiter-background;
    border: none;
    outline: none;
  }
}
