@import '../../../Global/styles/Colors';

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18vh 30vh 5vh 30vh;
  font-size: 1.1em;

  .subtitle {
    color: $primary-color;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 70%;
    margin-bottom: 0.3em;
  }

  p {
    margin-bottom: 0.5em;
  }

  ul {
    margin-left: 5vh;
    margin-bottom: 6vh;
    list-style: none;

    li::before {
      content: "\2022";
      color: $secondary-color;
      font-size: 1.3em;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 1em;
    }
  }
}

.milestones {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}