@import '../../../../Global/styles/Colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

.contentLife {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18vh 30vh 5vh 30vh;
  font-size: 1.1em;

  .subtitle {
    color: $primary-color;
    font-size: 1.5em;
    max-width: 70%;
    margin-bottom: 0.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  p {
    margin-bottom: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  ul {
    margin-left: 5vh;
    margin-bottom: 6vh;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    li::before {
      content: "\2022";
      color: $secondary-color;
      font-size: 1.3em;
      font-family: 'Poppins', sans-serif;
      font-weight: 300 !important;
      display: inline-block;
      width: 1em;
      margin-left: 1em;
    }
  }
}

.milestones {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Poppins', sans-serif;
}
