@import "src/Global/styles/Colors";
@import "./../../../../assets/font-awesome/scss/fontawesome.scss";
@import "./../../../../assets/font-awesome/scss/solid.scss";
@import "./../../../../assets/font-awesome/scss/brands.scss";

.inputContainer {
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 50px 0;

  p {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
  }

  .response-container {
    display: flex;
    margin: 40px 0;
    justify-content: space-evenly;
    width: 20%;
    min-width: 300px;

    input[type=radio] {
      position: absolute;
      visibility: hidden;
    }

    input[type=radio]:checked ~ .negative {
      background: $negative-color;
    }

    input[type=radio]:checked ~ .positive {
      background: $affirmative-color;
    }

    label {
      display: block;
      position: relative;
      font-weight: 300;
      font-size: 1.35em;
      margin: 10px auto;
      height: 30px;
      z-index: 9;
      cursor: pointer;
    }

    .check {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $non-checked;
      border-radius: 100%;
      height: 60px;
      width: 60px;
      z-index: 5;
    }

    .check::before {
      font-size: 1em;
      border-radius: 100%;
    }

    .negative {
      @extend %fa-icon;
      @extend .fas;
    }

    .negative::before {
      margin: 0;
      content: fa-content($fa-var-times);
      color: white;
      justify-content: center;
      align-items: center;
    }

    .positive {
      @extend %fa-icon;
      @extend .fas;
    }

    .positive::before {
      margin: 0;
      content: fa-content($fa-var-check);
      color: white;
      justify-content: center;
      align-items: center;
    }
  }
}
