@import "src/Global/styles/Colors";

.inputContainer {
  p {
    font-weight: bold;
  }

  input {
    border: none;
    border-bottom: 1px #d6d4da solid !important;
    outline: none;
    display: block;
    min-width: 300px;
    width: 500px;
    max-width: 700px;
    text-align: center;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    margin: 15px 0 0 0;
    font-size: 1em;
    color: #5c5c5c;
    font-weight: bold;
  }

  input::placeholder {
    color: #d6d4da;
    font-weight: bold;
  }
}
