@import '../../../Global/styles/Colors';

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .container {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(50%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .social {
    position: relative;
    margin-left: auto;
    margin-right: 8em;
    max-width: 3em;
    display: flex;
    flex-direction: column;

    .fab {
      font-size: 3em;
      margin-bottom: 1em;
      color: $secondary-color;
    }
  }

  &-home {
    padding-top: 20vh;
    padding-bottom: 13vh;

    .container {
      background-image: url("../../../assets/Images/HomeImage.jpg");
    }

    .social {
      top: 35vh;
    }

    .main-title {
      margin-left: 20vh;
    }

    .quick-start {
      margin-left: 20vh;
      height: 4em;
      width: 150px;
      border-radius: 32px;
      border: 2px solid $secondary-color;
      background: #FF5C6329;
      box-shadow: 4px 4px 6px #00000008;
      color: $secondary-color;
    }

    .call {
      position: relative;
      top: 20vh;
      max-width: 40%;
      height: 7em;
      display: flex;
      align-items: center;
      background-color: $whiter-background;
      padding-left: 15vh;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      &-text {
        font-size: 1.2em;
        font-weight: bolder;
        color: #7e7d7d;
      }

      &-button {
        height: inherit;
        width: 30%;
        margin-left: auto;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-style: none;
        background-color: $secondary-color;
        color: $whiter-background;
        font-size: 1.2em;
        font-weight: normal;
      }
    }
  }
  &-life {
    padding-top: 20vh;

    .container {
      background-image: url("../../../assets/Images/LifeProjectImage.jpg");
      background-position: 50%;
      opacity: 0.6;
    }

    .social {
      top: 15vh;
    }

    .main-title {
      margin-left: 30vh;
    }

    .title-primary {
      color: $primary-color;
      font-size: 1.5em;
    }

    .title-secondary {
      color: $secondary-color;
    }

    .info {
      position: relative;
      top: 11vh;
      max-width: 45%;
      height: 7em;
      display: flex;
      padding: 2vh 0vh 2vh 30vh;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: $secondary-color;
      color: $whiter-background;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      .first {
        font-size: 49px;
        font-weight: bolder;
      }

      .second {
        font-size: 24px;
        font-weight: bolder;
      }

      .third {
        font-size: 12px;
      }
    }
  }
  &-innovation {
    padding-top: 20vh;
    padding-bottom: 20vh;

    .container {
      background-image: url("../../../assets/Images/InnovationImage.jpg");
    }
  }
  &-bepart {
    padding-top: 20vh;
    padding-bottom: 20vh;

    .container {
      background-image: url("../../../assets/Images/BePartImage.jpg");
    }
  }

  .main-title {
    max-width: 40%;
    color: white;
    margin-bottom: 8vh;
    top: 40vh;
    font-size: 4em;
    line-height: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    height: 80vh;
  }
}
