@import "src/Global/styles/Colors";

.end-page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    width: 25%;
    max-width: 300px;
    font-size: 1.3em;
    min-height: 50px;
    background-color: $primary-color;
    border-radius: 35px;
    color: white;
  }
}
