#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateReligiousnessInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateReligiousnessInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Religiousness SET $update WHERE userid=$ctx.args.updateReligiousnessInput.userid", "SELECT * FROM Religiousness WHERE userid='$ctx.args.updateReligiousnessInput.userid'"]
}