#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createHealth_behavior2_stack4Input.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createHealth_behavior2_stack4Input[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Health_behavior2_stack4 $colStr VALUES $valStr", "SELECT * FROM Health_behavior2_stack4 WHERE id='$ctx.args.createHealth_behavior2_stack4Input.id'"]
}