#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createStressfulLifeExperiencesInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createStressfulLifeExperiencesInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO StressfulLifeExperiences $colStr VALUES $valStr", "SELECT * FROM StressfulLifeExperiences WHERE userid='$ctx.args.createStressfulLifeExperiencesInput.userid'"]
}