#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateReligiousness_spirituality_stack6Input.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateReligiousness_spirituality_stack6Input[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Religiousness_spirituality_stack6 SET $update WHERE id=$ctx.args.updateReligiousness_spirituality_stack6Input.id", "SELECT * FROM Religiousness_spirituality_stack6 WHERE id='$ctx.args.updateReligiousness_spirituality_stack6Input.id'"]
}