#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPets_stack0Input.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPets_stack0Input[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Pets_stack0 $colStr VALUES $valStr", "SELECT * FROM Pets_stack0 WHERE id='$ctx.args.createPets_stack0Input.id'"]
}