#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createDemographicInfoInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createDemographicInfoInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO DemographicInfo $colStr VALUES $valStr", "SELECT * FROM DemographicInfo WHERE id=$ctx.args.createDemographicInfoInput.id"]
}