#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createHighMoodInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createHighMoodInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO HighMood $colStr VALUES $valStr", "SELECT * FROM HighMood WHERE userid='$ctx.args.createHighMoodInput.userid'"]
}