#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createLow_mood_stack6Input.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createLow_mood_stack6Input[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Low_mood_stack6 $colStr VALUES $valStr", "SELECT * FROM Low_mood_stack6 WHERE id='$ctx.args.createLow_mood_stack6Input.id'"]
}