#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateDemographics_stack1Input.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateDemographics_stack1Input[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Demographics_stack1 SET $update WHERE id=$ctx.args.updateDemographics_stack1Input.id", "SELECT * FROM Demographics_stack1 WHERE id='$ctx.args.updateDemographics_stack1Input.id'"]
}