#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateOral_health_stack0Input.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateOral_health_stack0Input[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Oral_health_stack0 SET $update WHERE id=$ctx.args.updateOral_health_stack0Input.id", "SELECT * FROM Oral_health_stack0 WHERE id='$ctx.args.updateOral_health_stack0Input.id'"]
}