#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateHealth_behavior2_stack4Input.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateHealth_behavior2_stack4Input[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Health_behavior2_stack4 SET $update WHERE id=$ctx.args.updateHealth_behavior2_stack4Input.id", "SELECT * FROM Health_behavior2_stack4 WHERE id='$ctx.args.updateHealth_behavior2_stack4Input.id'"]
}