@import "src/Global/styles/Colors";

.question-container-with-header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 90vh;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  font-family: "Poppins", sans-serif;

  .stack-phrase {
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h3 {
      font-weight: normal;
      color: #5c5c5c;
      font-size: 1em;
    }
  }

  .radio-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;

    .header-container {
      display: flex;
      width: 100%;
      margin: 0 0 20px 0;

      .empty-space {
        width: 30%;
        min-width: 50px;
      }

      .radio-buttons-header {
        display: flex;
        width: 70vw;
        justify-content: flex-end;
        min-width: 890px;
        color: $primary-color;
        font-size: 0.9em;
        margin-right: 5vw;

        .text-header-container {
          width: 10vw;
          min-width: 50px;
          display: flex;
          justify-content: center;

          h4 {
            width: 100%;
            text-align: center;
            margin: 0;
            font-size: 1.2em;
            max-width: 180px;
          }
        }
      }
    }
  }

  .question-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .question {
      display: flex;
      width: 30%;
      justify-content: flex-start;
      font-size: 01em;
      color: $primary-color;

      p {
        margin: 0 0 0 50px;
      }
    }

    .option-container {
      display: flex;
      justify-content: flex-end;
      width: 70vw;
      min-width: 350px;
      margin-right: 5vw;

      .input-container {
        display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 10vw;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 25px;
          width: 25px;
          top: 0;
          left: 45%;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 45%;
          height: 25px;
          width: 25px;
          background-color: white;
          border-radius: 50%;
          z-index: -1;
          border: solid 1px $primary-color;
        }
      }

      .input-container:hover input ~ .checkmark {
        background-color: #ccc;
      }

      .input-container input:not(:checked) ~ .checkmark {
        background-color: white;
      }

      .input-container input:checked ~ .checkmark {
        background-color: $primary-color;
      }

    }
  }
}
