@import 'src/Global/styles/Colors';

.drop-down-menu {
  text-decoration: none;
  margin: 25px 0 0 0;

  .main-options {
    padding: 10px 0;
    background-color: #1F637B;

    .menu-status {
      background-color: $non-checked;
      color: white;
      padding: 0px 10px;
      border-radius: 15px;
    }

    .btn {
      color: white;
      margin: 10px 15px;
    }

    .submenu {
      background: white;
      overflow: hidden;
      max-height: 0;

      .options {
        color: black;
        width: 100%;
        display: block;
        position: relative;
      }

      .options::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }

  .main-options:target .submenu {
    max-height: fit-content;
    margin: 15px 0 0 0;
  }

  .main-options:target {
    background-color: white;
    border-left: 5px solid red;
    border-right: 3px solid $primary-color;

    .menu-status {
      background-color: #ff253a;
      color: white;
    }

    .btn {
      color: red;
    }

    .options {
      color: red;
      padding-left: 15px;
      font-size: 14px;
    }
  }
}
