@import "./../../../Global/styles/Colors.scss";

.mission-content-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 80vh;
  flex-wrap: wrap;

  .title {
    display: flex;
    margin: 5px 0;
    font-size: 4em;
    color: $primary-color;
    font-weight: bold;
    width: 100%;
    justify-content: center;
  }

  p {
    display: flex;
    padding: 0 20px;
    max-width: 800px;
    text-align: justify;
    margin-bottom: 300px;
    font-size: 1.5em;
    color: $secondary-color;
  }

}

@media only screen and (max-width: 1024px) {
  .team-content-container {
    width: 100%;

    p {
      margin-bottom: 40px;
    }
  }
}
