.our-mission {
  position: relative;
  width: 100%;
  padding-top: 20vh;
  background-image: url("../../../assets/Images/OurMissionImage.jpg");
  background-size: cover;
  opacity: 0.9;
  z-index: -1;

  &-content {
    position: relative;
    max-width: 400px;
    padding: 10vh 10vh 10vh 20vh;
    background-color: white;
    z-index: 1;
    opacity: 1;
  }
}

.what-do-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 20vh;
  background-color: #f5f5f5;

  .perks {
    display: flex;
  }
}

.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;

  .subtitle {
    color: #ff5c63;
  }

  .sm {
    font-size: 25px;
    margin-top: 5vh;
  }

  .meds {
    display: flex;
    justify-content: center;
  }
}

.subtitle {
  margin-bottom: 1em;
  font-size: 35px;
  color: #303030;
}
