@import "./../../../Global/styles/Colors.scss";

.navigation {
  display: flex;
  justify-content: center;
  min-height: 10vh;
  padding: 0 30vh 0 20vh;

  &-light {
    .link-reference {
      color: $whiter-background;
    }
  }

  &-dark {
    .link-reference {
      color: $primary-color;
    }
  }

  .logo {
    max-height: 10vh;
  }

  .class-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
  }
}
