@import "src/Global/styles/Colors";

.with-header {
  max-height: 20vh;
}

.no-header {
  max-height: 10vh;
}

.question-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  border: none;

  .stack-phrase {
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h3 {
      font-size: 1.5em;
      width: 100%;
      color: #005776;
    }
  }

  .multi-ladder-button-container {
    display: flex;
    max-width: 90%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;

    .question {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1em;
      color: $primary-color;
      width: 30%;
    }

    .response-container {
      display: flex;
      margin: 1vh;
      justify-content: space-around;
      width: 70%;
      min-width: 300px;
      align-items: center;

      input[type=radio] {
        position: absolute;
        visibility: hidden;
      }

      input[type=radio]:checked ~ .value {
        background: $primary-color;
        color: $whiter-background;
      }

      label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1.35em;
        margin: 10px auto;
        z-index: 9;
        cursor: pointer;
      }

      .check {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $non-checked;
        border-radius: 100%;
        height: 2.5em;
        width: 2.5em;
        z-index: 5;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: white;
      }

      .check::before {
        font-size: 1em;
        border-radius: 100%;
      }
    }
  }
}
