@import "src/Global/styles/Colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.questioner-content-container {
  margin: 10px 0 0 0;
  display: flex;
  width: 100%;
  min-height: 50vh;
  justify-content: center;

  .content-wrapper {
    display: flex;
    width: 70%;
    background: white;
    flex-wrap: wrap;
    justify-content: center;

    .form-start-title {
      padding-top: 50px;
      width: 100%;
      font-size: 3em;
      color: $secondary-color;
      font-weight: bold;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
    }

    .general-questions-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 0 50px 0;

      .start-survey {
        height: fit-content;
        background-color: #fc1a24;
        padding: 15px 50px;
        border-radius: 25px;
        color: white;
      }
    }
  }
}
