@import "src/Global/styles/Colors";

.questioner-content-container {
  margin: 10px 0 0 0;
  display: flex;
  width: 100%;
  min-height: 50vh;
  justify-content: center;

  .content-wrapper {
    display: flex;
    width: 70%;
    background: white;
    flex-wrap: wrap;
    justify-content: center;

    .form-start-title {
      width: 100%;
      font-size: 3em;
      color: $secondary-color;
    }

    .general-questions-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 0 50px 0;

      .start-survey {
        height: fit-content;
        background-color: #fc1a24;
        padding: 15px 50px;
        border-radius: 25px;
        color: white;
      }
    }
  }
}
