@import "./../../Global/styles/Colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$foo-degrade-color: #0f485b;

.footer {
  background: transparent
    linear-gradient(180deg, $foo-primary-color 0%, $foo-degrade-color 100%) 0%
    0% no-repeat padding-box;
  min-height: 10vw;
  display: flex;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(10vw, 20vw);
    padding-left: 10%;

    .one-col {
      grid-column: 1 / 4;
      grid-row: 1;
      justify-content: center;
      align-items: center;
      padding-top: 8%;

      .Nona-logo {
        height: 28%;
      }

      p {
        border-right: #eeeeee 1px solid;
      }
    }
    .two-col {
      grid-column: 4 / 6;
      grid-row: 1;
      padding-top: 15%;

      a {
        font-family: "Poppins", sans-serif;
        text-align: left;
        padding-bottom: 20px;
        color: $foo-whiter-background;
      }
    }
    .three-col {
      grid-column: 6 / 8;
      grid-row: 1;
      padding-top: 20%;

      a {
        font-family: "Poppins", sans-serif;
        text-align: left;
        padding-bottom: 20px;
        color: $foo-whiter-background;
      }
    }
    .four-col {
      grid-column: 8 / 12;
      grid-row: 1;
      padding-top: 10%;
      padding-left: 10%;

      .suscribe-form {
        background: $foo-whiter-background;
        box-shadow: 0px 0px 30px #0000000d;
        border-radius: 30px;
        border: none;
        height: 3rem;
        width: 65%;
      }
    }
  }

  h3 {
    font-family: "Poppins", sans-serif;
    color: $foo-whiter-background;
  }
  p {
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 20px;
    color: $foo-whiter-background;
  }

  input[type="text"] {
    background-color: $foo-whiter-background;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 30px;
    height: 3rem;
    width: 60%;
    outline: none;
    padding: 0px;

    ::placeholder {
      color: #bbbbbb;
    }
  }

  button {
    background: transparent linear-gradient(90deg, #db0011 0%, #ff1c26 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #ff707087;
    font-family: "Poppins", sans-serif;
    border-radius: 33px;
    border: none;
    color: $foo-whiter-background;
    height: 3rem;
    width: 35%;
    outline: none;
    float: right;
  }
}
