@import "./../../Global/styles/Colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');



.footer {
  background:
    transparent
    linear-gradient(180deg, $primary-color 0%, $degrade-color 100%) 0% 0%
    no-repeat padding-box;
  min-height: 10vw;
  width: 100%;
  margin: 50px 0 0 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10vh 6vw;

    .one-col {
      width: 30vw;
      border-right: #eee 1px solid;

      .Nona-logo {
        height: 10vh;
      }

      p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
      }
    }

    .two-col {
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        text-align: left;
        padding-bottom: 20px;
        color: $whiter-background;
      }
    }

    .third-col {
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        text-align: left;
        padding-bottom: 20px;
        color: $whiter-background;
      }
    }

    .four-col {
      width: 30vw;

      .suscribe-form {
        background: $whiter-background;
        box-shadow: 0 0 30px #0000000d;
        border-radius: 30px;
        border: none;
        height: 3rem;
        width: 85%;
      }
    }
  }

  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: $whiter-background;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 20px;
    color: $whiter-background;
    font-size: 0.9rem;
  }

  input[type="text"] {
    background-color: $whiter-background;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 30px;
    height: 3rem;
    width: 20vw;
    outline: none;
    padding-left: 15px;

    ::placeholder {
      color: #bbb;
    }
  }

  button {
    position: absolute;
    background:
      transparent linear-gradient(90deg, #db0011 0%, #ff1c26 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0 0 15px #ff707087;
    font-family: "Poppins", sans-serif;
    border-radius: 33px;
    border: none;
    color: $whiter-background;
    height: 3.1rem;
    width: 8vw;
    min-width: 80px;
    outline: none;
    float: right;
    margin-left: -4vw;
  }
}
