.sticky-social-container {
  position: absolute;
  left: 90vw;
  top: 30vh;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-evenly;

  .logo-icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
  }
}
