@import "src/Global/styles/Colors";

.inputContainer {
  position: relative;
  width: 100%;

  label i {
    position: relative;
    margin-top: -1.8em;
    margin-left: 450px;
    width: 0.8em;
    height: 0.8em;
    display: block;
    border-left: 3px solid #5c5c5c;
    border-bottom: 3px solid #5c5c5c;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
    opacity: 50%;
    z-index: 0;
  }

  p {
    font-weight: bold;
  }

  .combo-box {
    position: relative;
    border: none;
    border-bottom: 1px #d6d4da solid !important;
    outline: none;
    display: block;
    min-width: 300px;
    width: 500px;
    max-width: 700px;
    text-align: center;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    margin: 15px 0 0 0;
    font-size: 1em;
    color: #5c5c5c;
    opacity: 50%;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  .combo-box::-ms-expand {
    display: none;
  }

  .combo-box:hover {
    cursor: pointer;
  }

  option {
    color: $primary-color;
  }
}
