@import "src/Global/styles/Colors";
@import "../../../../../assets/font-awesome/scss/fontawesome.scss";
@import "../../../../../assets/font-awesome/scss/solid.scss";

.inputContainer {
  position: relative;
  width: 100%;

  label {

    i {
      position: absolute;
      margin-top: -1.9em;
      margin-left: 450px;
      width: 1em;
      height: 1em;
      display: block;
      border-left:3px solid #5c5c5c;
      border-bottom:3px solid #5c5c5c;
      transform: rotate(-45deg);
      transition: all 0.25s ease;
      opacity: 50%;
    }
  }


  p {
    font-weight: bold;
  }

  .combo-box {
    border: none;
    border-bottom: 1px #d6d4da solid !important;
    outline: none;
    display: block;
    min-width: 300px;
    width: 500px;
    max-width: 700px;
    text-align: center;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    margin: 15px 0 0 0;
    font-size: 1.5em;
    color: #5c5c5c;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
  }

  .combo-box::-ms-expand {
    display: none;
  }

  .combo-box:hover {
    cursor: pointer;
  }

  option {
    color: $primary-color;
  }
}
