@import "src/Global/styles/Colors";

.inputContainer{
  p {
    font-weight: bold;
  }
  input{
    border: none;
    border-bottom: 1px #D6D4DA solid !important;
    outline: none;
    display: block;
    min-width: 300px;
    width: 500px;
    max-width: 700px;
    text-align: center;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    margin: 15px 0 0 0;
    font-size: 25px;
    color: #5C5C5C;
    font-weight: bold;
  }
  input::placeholder{
    color: #D6D4DA;
    font-weight: bold;
  }
}