@import "../../../../../Global/styles/Colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.wrapper-be-part {
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 5vh 0;

  img {
    border-radius: 50%;
    border: 1px solid #707070;
    width: 18vw;
    margin: 2vh 3vw;
  }

  &-left {
    justify-content: flex-end;

    .one {
      width: 10vw;
    }

    .two {
      width: 50vw;
    }

    .BePartText {
      text-align: left;
    }

    img {
      float: right;
    }
  }

  &-right {
    justify-content: flex-start;
    flex-direction: row-reverse;

    .one {
      width: 10vw;
    }

    .two {
      width: 50vw;
    }

    .BePartText {
      text-align: right;
    }

    img {
      float: left;
    }
  }

  h2 {
    color: $secondary-color;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 3vh;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: $text-color;
  }
}
