@import '../../../../../Global/styles/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.inputContainer {

  p {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: $primary-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

    /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 100px;
    border: solid 2px $primary-color;
    margin-left: -30px;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $whiter-background;
    border-radius: 7px;
    border: solid 2px $primary-color;
  }

  .container input:checked ~ .checkmark {
    background-color: $primary-color;
  }

  .container input:checked ~ .checkmark:after {
    display: none;
  }
}
