@import '../../../../../Global/styles/Colors.scss';

.inputContainerCheck {
  width: 100%;
  min-width: 300px;

  .checkLabel {
    width: 100%;
    height: auto;
    font-size: 1.4em;
    color: $primary-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $primary-color;
    font-size: 0.9em;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      z-index: 2;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: $whiter-background;
      border-radius: 7px;
      border: solid 2px $primary-color;
    }
  }

  .container input:checked ~ .checkmark {
    background-color: $primary-color;
  }

  .container input:checked ~ .checkmark::after {
    display: none;
  }
}

.CANCERS {
  margin-left: -35vw;
  margin-top: -24vh;
}
